

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-log-off"></span> Logout</a></li> -->
      <a href="/" role="button" class="btn btn-danger btn-block" onclick="clean();">logout</a>
    </ul>
  </div>
</nav>
  
